
{% extends "base.html" %}

{% block title %}Appel Workshop{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <h1>Info</h1>
    <p>
        The Appel Workshop is a website where you can play and share different Appel levels. You can submit Appel levels, as well
        as play those that others made. Levels are entered on the Punter difficulty system by default (more info <a href="https://appel.miraheze.org/wiki/Difficulty">here</a>),
        but you can switch how difficulties are displayed in the Settings page after logging in.
    </p>

    <h2>Rules</h2>
    <h3>Uploading Levels</h3>
    <ul>
        <li>All levels you upload must either be created by you, or have credit to the original creator in the description.</li>
        <li>All levels uploaded must either have a valid code or a Scratch project link to an Appel mod.</li>
        <li>All levels must be theoretically possible, or it will get removed.</li>
        <li>All levels uploaded must not have any profanity, hate speech, or anything else offensive in the name, description, or level.</li>
    </ul>

    <h3>Verifying levels</h3>
    <ul>
        <li>All levels must be verified in real-time, not via a TAS.</li>
        <li>All levels must be verified at 30FPS, or as close as possible. Levels cannot be verified in less than 25FPS.</li>
        <li>All level verifications must be played by you.</li>
        <li>Level verifications must require either a replay code or a video.</li>
        <li>Level verifications must be played in either the original mod or an allowed mod for use. Replay codes must work in the mod the level was created in.</li>
    </ul>

    <h3>Other Rules</h3>
    <ul>
        <li>Don't impersonate other users.</li>
        <li>Don't share other people's personal information.</li>
        <li>Don't harass or bully other users.</li>
        <li>Don't try to hack or DDoS the website.</li>
        <li>Don't post any content that violates copyright.</li>
        <li>Don't use profanity, hate speech, etc. in comments.</li>
    </ul>
    </div>
    <div class="col-md-4">
        {% if user.is_authenticated %}
            <iframe src="https://discordapp.com/widget?id=1499046723618738248&theme=dark&username={{ user.username }}" width="350" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
        {% else %}
            <iframe src="https://discordapp.com/widget?id=1499046723618738248&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
        {% endif %}
    </div>
</div>
{% endblock %}
