<!-- templates/levels/level_detail.html -->
{% extends "base.html" %}

{% block title %}{{ level.name }}{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>{{ level.name }} by {% if level.original_uploader %}{{ level.original_uploader }}{% else %}{{ level.creator.username }}{% endif %}</h2>

    {% if user.is_authenticated and level.creator == user %}
    <a href="{% url 'levels:edit_level' level.id %}" class="btn btn-primary">Edit Level</a>
    <a href="{% url 'levels:delete_level' level.id %}" class="btn btn-danger">Delete Level</a>
    {% endif %}
    <p><strong>Level Code:</strong></p>
    <textarea rows="5" cols="50">{{ level.level_code }}</textarea>
    <p><strong>Mod Category:</strong> {{ level.get_mod_category_display }}</p>
    {% if level.rated_difficulty %}
    <p><strong>Rated Difficulty:</strong> {{ level.rated_difficulty }}</p>
    {% endif %}
    <p><strong>Requested Difficulty:</strong> {{ level.difficulty }}</p>
    {% if level.original_uploader %}
    <p><strong>Uploader: </strong>{{ level.creator.username }}</p>
    {% endif %}

    <p>{{ level.description }}</p>
    <p><strong>Level Ratings</strong></p>
    <ul>
    {% for rating in level.level_ratings %}
    <li>{{ rating }}</li>
    {% endfor %}
    </ul>

    <a href="{% url 'levels:list' %}" class="btn btn-secondary">Back to Levels</a>

    <h2>Comments</h2>
<div>
    {% for comment in comments %}
        <p><strong>{{ comment.user.username }}</strong>: {{ comment.content }} {% if comment.user == request.user %}<a href="{% url 'levels:edit_comment' comment.id %}">Edit</a> |<a href="{% url 'levels:delete_comment' comment.id %}">Delete</a>{% endif %}</p>
    {% empty %}
        <p>No comments yet. Be the first to comment!</p>
    {% endfor %}
</div>

{% if user.is_authenticated %}
    <h3>Add a Comment</h3>
    <form method="post">
        {% csrf_token %}
        <textarea name="content" rows="3" style="width: 50%;" placeholder="Write your comment here..."></textarea>
        <br>
        <button type="submit" class="btn btn-primary">Post Comment</button>
    </form>
{% else %}
    <p><a href="{% url 'login' %}">Log in</a> to add a comment.</p>
{% endif %}

</div>
{% endblock %}
